@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
	font-family: 'Firealistic';
	src: url('../font/firealistic-regular.otf');
}

:root {
	--shark: #282B2C;
	--iron: #D0D2D4;
	--oslo-gray: #939496;
	--manatee: #8C8C94;
	--primary: #000000;
	--text-primary: var(--iron);
	--text-secondary: var(--oslo-gray);
	--brand: #FF5722;
	--overlay: rgba(0, 0, 0, 0.6);
	--font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.light-theme {
	--primary: #FFFFFF;
	--text-primary: var(--shark);
	--text-secondary: var(--manatee);
	--overlay: var(--primary);
}

* {
	font-family: var(--font-family);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition-duration: 0.1s;
}

body {
	background-color: var(--primary);
	color: var(--text-primary);
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 1.6;
	width: 100vw;
	height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--text-primary);
	font-weight: bold;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
	color: var(--text-secondary);
}

a, p {
	color: var(--text-secondary);
	text-decoration: none;
}

a:hover {
	color: var(--brand);
	text-decoration: none;
}

.brand {
	color: var(--brand);
}

.cookie-consent {
	background-color: var(--text-primary);
	position: fixed;
	text-align: center;
	display: none;
	border-top: 20px solid var(--text-primary);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 20px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.cookie-consent > h1,
.cookie-consent > h2,
.cookie-consent > h3,
.cookie-consent > h4,
.cookie-consent > h5,
.cookie-consent > h6 {
	color: var(--primary);
}

.cookie-consent > a,
.cookie-consent > p {
	color: var(--primary);
}

.header {
	position: relative;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	display: flex;
	gap: 10px;
	padding-top: calc(50vw - 50vh);
	padding-bottom: calc(50vw - 50vh);
	min-height: calc(100vh);
}

.header.custom {
	background-image: linear-gradient(var(--overlay), var(--primary)), url('./../img/background.png');
	background-attachment: local;
	background-repeat: no-repeat;
	background-size: cover;
}

.header > .navigation {
	position: absolute;
	color: var(--text-primary);
	font-size: 20px;
	top: 25px;
	left: 0;
	right: 0;
}

.header > .navigation ul {
	list-style: none;
	display: flex;
	padding: 20px;
}

.header > .navigation > ul > li {
	text-align: center;
	flex: 1;
}

.header > .navigation > ul > li > a {
	text-decoration: none;
	color: var(--text-primary);
	padding: 10px;
}

.header > .navigation > ul > li > a:hover,
.header > .navigation > ul > li > a.active {
	color: var(--text-secondary);
	border-bottom: 4px solid var(--text-secondary);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.header > .logo > h1 {
	color: var(--text-primary);
	font-size: 80x;
	font-family: 'Firealistic';
}

.header > .tagline > p {
	color: var(--text-primary);
	letter-spacing: 6px;
	padding: 12px;
	font-size: 14px;
}

.header > a > .call-to-action {
	margin: 40px;
	padding: 20px;
	font-size: 16px;
	border: 1px solid var(--text-primary);
	background-color: transparent;
	color: var(--text-primary);
	text-align: center;
}

.header > a > .call-to-action:hover {
	background-color: var(--text-primary);
	color: var(--primary);
}

.main {
	padding: 20px;
}

.main > .section {
	justify-content: center;
	text-align: center;
	flex-direction: column;
	display: flex;
	margin-bottom: 20px;
	gap: 20px;
}

.main > .section > .title {
	font-size: 30px;
	text-align: center;
	margin: 15px;
}

.main > .section > .tagline {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	text-align: center;
}

.footer {
	background-color: var(--primary);
	color: var(--text-secondary);
	justify-content: center;
	text-align: center;
	flex-direction: column;
	display: flex;
	gap: 10px;
	padding: 30px;
}

.footer > .social-media {
	justify-content: center;
	text-align: center;
	display: flex;
	gap: 20px;
	padding: 8px;
}

.footer > .social-media > a {
	color: var(--text-secondary);
	text-decoration: none;
	flex: 0.1;
}

.footer > .social-media > a:hover {
	color: var(--text-primary);
}

.footer > .theme-switch {
	position: relative;
	right: 0;
	bottom: 0;
}

.footer > .theme-switch > i {
	display: none;
}

.button-primary-outline {
	padding: 20px;
	border: 1px solid var(--primary);
	background-color: transparent;
	color: var(--primary);
	text-align: center;
}

.button-primary-outline:hover {
	background-color: var(--primary);
	color: var(--text-primary);
}

.button-text-primary-outline {
	padding: 20px;
	border: 1px solid var(--text-primary);
	background-color: transparent;
	color: var(--text-primary);
	text-align: center;
}

.button-text-primary-outline:hover {
	background-color: var(--text-primary);
	color: var(--primary);
}

@media (min-width: 0px) {
	body {
		font-size: 14px;
	}
}

@media (min-width: 576px) {
	body {
		font-size: 16px;
	}
}

@media (min-width: 768px) {
	body {
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	body {
		font-size: 20px;
	}
}

@media (min-width: 1200px) {
	body {
		font-size: 22px;
	}
}