@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
	font-family: "Firealistic";
	src: url("../font/firealistic-regular.otf");
}

:root {
	--shark: #282B2C;
	--iron: #D0D2D4;
	--oslo-gray: #939496;
	--manatee: #8C8C94;
	--primary: #000000;
	--text-primary: var(--iron);
	--text-secondary: var(--oslo-gray);
	--brand: #FF5722;
	--overlay: rgba(0, 0, 0, 0.6);
	--font-family: "Lato", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.light-theme {
	--primary: white;
	--text-primary: var(--shark);
	--text-secondary: var(--manatee);
	--overlay: rgba(255, 255, 255, 0.6);
}

* {
	font-family: var(--font-family);
	max-width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--primary);
	color: var(--text-primary);
	font-size: 16px;
	letter-spacing: 0.6px;
	line-height: 1.6;
	transition-duration: 0.5s;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--text-primary);
	font-weight: bold;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
	color: var(--text-secondary);
}

a, p {
	color: var(--text-secondary);
}

a:hover {
	color: var(--brand);
}

.brand {
	color: var(--brand);
}

.cookie-consent {
	background-color: var(--text-primary);
	color: var(--primary);
	position: fixed;
	text-align: center;
	display: none;
	border-top: 20px solid var(--text-primary);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 20px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.cookie-consent > h3 {
	margin-bottom: 20px;
	color: var(--primary);
}

.cookie-consent p,
.cookie-consent a {
	color: var(--primary);
}

.cookie-consent a {
	opacity: 0.5;
}

.header {
	position: relative;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	display: flex;
	gap: 10px;
	padding-top: calc(50vw - 50vh);
	padding-bottom: calc(50vw - 50vh);
	min-height: calc(100vh);
}

.header.custom {
	background-image: linear-gradient(var(--overlay), var(--primary)), url("./../img/background.png");
	background-attachment: local;
	background-repeat: no-repeat;
	background-size: cover;
}

.header .navigation {
	display: block;
	position: fixed;
	top: 40px;
	right: 20px;
	z-index: 9999;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.header .navigation .toggle-menu {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -15px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 99999;
	-webkit-touch-callout: none;
}

.header .navigation span {
	background-color: var(--text-primary);
	display: block;
	width: 33px;
	height: 3px;
	margin-bottom: 6px;
	position: relative;
	opacity: 0.8;
	border-radius: 2px;
	z-index: 9999;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, .05, 1), opacity 0.75s ease;
}

.header .navigation span:first-child {
	transform-origin: 0% 0%;
}

.header .navigation span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

.header .navigation .toggle-menu:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
}

.header .navigation .toggle-menu:checked ~ span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

.header .navigation .toggle-menu:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}


.header .navigation .menu {
	background-color: var(--primary);
	position: fixed;
	width: 100%;
	top: 0;
	right: -500px;
	bottom: 0;
	margin: 0;
	padding: 80px 0 50px;
	opacity: 0;
	overflow-y: auto;
	list-style-type: none;
	transition: right 0.75s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease-in-out;
	box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
}

.header .navigation .menu li {
	padding: 0;
	font-size: 24px;
}

.header .navigation .menu a {
	color: var(--text-secondary);
	font-weight: bold;
	display: block;
	background-color: transparent;
	padding: 10px 20px;
	text-decoration: none;
	border-left: 3px solid transparent;
	transition: border-color .3s ease-in-out;
}

.header .navigation .menu a.active {
	color: var(--text-primary);
	border-color: var(--text-primary);
}

.header .navigation .menu a:hover {
	color: var(--text-primary);
}

.header .navigation .toggle-menu:checked ~ .menu {
	right: 0;
	opacity: 1;
}

.header > .logo > h1 {
	color: var(--text-primary);
	font-size: 40px;
	font-family: "Firealistic";
}

.header > .tagline > p {
	color: var(--text-primary);
	letter-spacing: 6px;
	padding: 12px;
	font-size: 14px;
}

.header > a > .call-to-action {
	margin: 40px;
	padding: 20px;
	font-size: 16px;
	border: 1px solid var(--text-primary);
	background-color: transparent;
	color: var(--text-primary);
	text-align: center;
}

.header > a > .call-to-action:hover {
	background-color: var(--text-primary);
	color: var(--primary);
}

.main {
	padding: 20px;
}

.main > .section {
	justify-content: center;
	text-align: center;
	flex-direction: column;
	display: flex;
	margin-bottom: 20px;
	gap: 20px;
}

.main > .section > .title {
	font-size: 30px;
	text-align: center;
	margin: 15px;
}

.main > .section > .tagline {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	text-align: center;
}

.footer {
	background-color: var(--primary);
	color: var(--text-secondary);
	justify-content: center;
	text-align: center;
	flex-direction: column;
	display: flex;
	gap: 10px;
	padding: 30px;
}

.footer > .social {
	justify-content: center;
	text-align: center;
	display: flex;
	gap: 20px;
	padding: 8px;
}

.footer > .social > a {
	color: var(--text-secondary);
	text-decoration: none;
	flex: 0.1;
}

.footer > .social > a:hover {
	color: var(--text-primary);
}

.footer > .theme-switch {
	position: relative;
	right: 0;
	bottom: 0;
}

.footer > .theme-switch > i {
	display: none;
}

.button-primary-outline {
	padding: 20px;
	border: 1px solid var(--primary);
	background-color: transparent;
	color: var(--primary);
	text-align: center;
}

.button-primary-outline:hover {
	background-color: var(--primary);
	color: var(--text-primary);
}

.button-text-primary-outline {
	padding: 20px;
	border: 1px solid var(--text-primary);
	background-color: transparent;
	color: var(--text-primary);
	text-align: center;
}

.button-text-primary-outline:hover {
	background-color: var(--text-primary);
	color: var(--primary);
}

@media (min-width: 0px) {
	body {
		font-size: 14px;
	}
}

@media (min-width: 576px) {
	body {
		font-size: 16px;
	}
}

@media (min-width: 768px) {
	body {
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	body {
		font-size: 20px;
	}
}

@media (min-width: 1200px) {
	body {
		font-size: 22px;
	}
}