---
---

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: 'Firealistic';
    src: url('../font/firealistic-regular.otf');
}

:root {
    --shark: #282b2c;
    --iron: #d0d2d4;
    --oslo-gray: #939496;
    --manatee: #8c8c94;
    --primary: #000000;
    --text-primary: var(--iron);
    --text-secondary: var(--oslo-gray);
    --brand: #ff5722;
    --overlay: rgba(0, 0, 0, 0.6);
    --font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
}

.light-theme {
    --primary: white;
    --text-primary: var(--shark);
    --text-secondary: var(--manatee);
    --overlay: rgba(255, 255, 255, 0.6);
}

* {
    font-family: var(--font-family);
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    transition-duration: 0.5s;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
    color: var(--text-primary);
    letter-spacing: 1px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-primary);
    font-weight: bold;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
    color: var(--text-secondary);
}

a,
p {
    color: var(--text-secondary);
}

a:hover {
    color: var(--brand);
}

.brand {
    color: var(--brand);
}

.header {
    position: relative;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding-top: calc(50vw - 50vh);
    padding-bottom: calc(50vw - 50vh);
    min-height: calc(100vh);
}

.header.custom {
    background-image: linear-gradient(var(--overlay), var(--primary)),
        url('./../img/background.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .navigation {
    display: block;
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 9999;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.header .navigation .toggle-menu {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -15px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 99999;
    -webkit-touch-callout: none;
}

.header .navigation span {
    background-color: var(--text-primary);
    display: block;
    width: 33px;
    height: 3px;
    margin-bottom: 6px;
    position: relative;
    opacity: 0.8;
    border-radius: 2px;
    z-index: 9999;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.75s ease;
}

.header .navigation span:first-child {
    transform-origin: 0% 0%;
}

.header .navigation span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.header .navigation .toggle-menu:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
}

.header .navigation .toggle-menu:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

.header .navigation .toggle-menu:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.header .navigation .menu {
    background-color: var(--primary);
    position: fixed;
    width: 100%;
    top: 0;
    right: -100vw;
    bottom: 0;
    margin: 0;
    padding: 80px 0 50px;
    opacity: 0;
    overflow-y: auto;
    list-style-type: none;
    transition: right 0.75s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease-in-out;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
}

.header .navigation .menu li {
    padding: 0;
    font-size: 24px;
}

.header .navigation .menu a {
    color: var(--text-secondary);
    font-weight: bold;
    display: block;
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    border-left: 3px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.header .navigation .menu a.active {
    color: var(--text-primary);
    border-color: var(--text-primary);
}

.header .navigation .menu a:hover {
    color: var(--text-primary);
}

.header .navigation .toggle-menu:checked ~ .menu {
    right: 0;
    opacity: 1;
}

.header > .logo > h1 {
    color: var(--text-primary);
    font-size: 40px;
    font-family: 'Firealistic';
}

.header > .tagline > p {
    color: var(--text-primary);
    letter-spacing: 6px;
    padding: 12px;
    font-size: 14px;
}

.header > a > .call-to-action {
    margin: 40px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid var(--text-primary);
    background-color: transparent;
    color: var(--text-primary);
    text-align: center;
}

.header > a > .call-to-action:hover {
    background-color: var(--text-primary);
    color: var(--primary);
}

.main {
    padding: 20px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;

    > .title {
        color: var(--text-primary);
        font-weight: bold;
        font-size: 2.5em;
        text-align: center;
        margin: 14px;
    }

    > .tagline {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
}

.games-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    transition-duration: 0.5s;

    > .game-item {
        padding: 6px;
        opacity: 0.8;

        &:hover {
            padding: 8px;
            opacity: 0.9;

            > .overflow > img {
                transform: scale(1.025);
            }
        }

        > .overflow {
            border-radius: 8px;
            overflow: hidden;

            > img {
                border-radius: 8px;
            }
        }

        > h1 {
            padding-left: 2px;
        }

        > p {
            padding-left: 4px;
        }
    }
}

.footer {
    background-color: var(--primary);
    color: var(--text-secondary);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;

    > .social {
        justify-content: center;
        text-align: center;
        display: flex;
        gap: 10px;
        padding: 8px;

        > a {
            font-size: 0.85em;
            color: var(--text-secondary);
            text-decoration: none;

            &:hover {
                color: var(--text-primary);
            }
        }
    }

    > .theme-switch {
        position: relative;
        right: 0;
        bottom: 0;

        i {
            display: none;
        }
    }

    > p {
        font-size: 0.75em;
    }
}

.button-primary-outline {
    padding: 20px;
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    text-align: center;
    text-decoration: none;

    &.small {
        padding: 10px;
        font-size: 0.75em;
    }

    &:hover {
        background-color: var(--primary);
        color: var(--text-primary);
    }
}

.button-text-primary-outline {
    padding: 20px;
    border: 1px solid var(--text-primary);
    background-color: transparent;
    color: var(--text-primary);
    text-align: center;
    text-decoration: none;

    &.small {
        padding: 10px;
        font-size: 0.75em;
    }

    &:hover {
        background-color: var(--text-primary);
        color: var(--primary);
    }
}

/* Mobile */
@media (max-width: 767px) {
    body::after {
    }

    body {
        font-size: 16px;
    }

    .games-list {
        grid-template-columns: 1fr;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    body::after {
    }

    body {
        font-size: 18px;
    }
}

/* PC */
@media (min-width: 992px) {
    body::after {
    }

    body {
        font-size: 20px;
    }
}
